{% set page_title = 'Statistics' %}
{% extends "base.html" %}

{% block content %}
<div id="stats-container">
  <div id="stats-content">
    <div class="stat-item">
      <span class="stat-label">Songs in database:</span>
      <span class="stat-value">{{ songs_count }}</span>
    </div>
    <div class="stat-item">
      <span class="stat-label">Jobs processed:</span>
      <span class="stat-value">{{ jobs.processed }}</span>
    </div>
    <div class="stat-item">
      <span class="stat-label">Jobs running:</span>
      <span class="stat-value">{{ jobs.running }}</span>
    </div>
    <div class="stat-item">
      <span class="stat-label">Jobs failed:</span>
      <span class="stat-value">{{ jobs.failed }}</span>
    </div>
    <div class="stat-item">
      <span class="stat-label">Jobs waiting:</span>
      <span class="stat-value">{{ jobs.waiting }}</span>
    </div>
  </div>
</div>
{% endblock %}
